.image_single {

    margin: 1.5rem auto 3rem auto;

    img { 
        width: 100%;
    }
}

#blog h3 {

    font-family: "Hoefler Text A", "Hoefler Text B";
    font-size: 1.25rem;
    line-height: 1.55;
    font-style: normal;
    font-weight: 700;
    color: #444;
    margin-bottom: 0rem;
    text-transform: none;
}