@use 'typography';

#projects {
    margin-top: 5rem;
}

.project {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;

    h3 {

        @include typography.uppercase;
        line-height: 1.05;
        margin: 0;
        font-size: 1.8rem;
        margin-bottom: .75rem;
    }
}