<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joera Mulders</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://neutralpress.mypinata.cloud 'unsafe-inline'">
    <style id="custom-css"></style>
    <script>
    fetch("insert_stylesheet.css").then(response => response.text()).then(css => {document.getElementById("custom-css").textContent = css;});
    </script>
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7060374/7785032/css/fonts.css" />
</head>