<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joera Mulders</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://*.mypinata.cloud; font-src 'self' https://fonts.gstatic.com; img-src 'self' https://*.mypinata.cloud data:;">
    <link rel="stylesheet" href="https://neutralpress.mypinata.cloud/ipfs/bafkreiehidybag65am2un3xfto4eqz2x3f7jq4jphhvvlbnxcesdzb47ee">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7060374/7785032/css/fonts.css" />
</head>

 
 