<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://neutralpress.mypinata.cloud https://cloud.typography.com 'unsafe-inline'; img-src 'self' data: https://neutralpress.mypinata.cloud">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joera Mulders</title>
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7060374/7785032/css/fonts.css" />
    <style id="custom-css"></style>
    <script>
    fetch("insert_stylesheet.css").then(response => response.text()).then(css => {document.getElementById("custom-css").textContent = css;});
    </script>

    <link rel="stylesheet" href="https://neutralpress.mypinata.cloud/ipfs/bafkreif6nrtdj5x4pdowyhpwvycxaxk6nm7db5g7svimx4545oy2et4smi?filename=styles.css">
</head>     