<!DOCTYPE html>
<html lang="{{language}}">
{{> head }}

<body id="blog">
    {{> header}}
    <main>
        <section id="introduction" class="container medium_container">
            <h1>Joera Mulders</h1>
            <h2>{{title}}</h2>
        </section>
        
    <div id="overlay">
        <section id="blog_container" class="container small_container">
          
            <article class="blog">           
                {{{extract_images content}}}          
            </article>
        
        </section>


    </div>
    </main>
</body>
</html>

<script>

</script>
